{% extends "booking/cleaning_index.html" %}

{% block overview %}
<style>
    .overview-table-wrapper{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        width: 90%; /* Fallback, if needed */
        width: calc(100% - 5em);
    }
    .overview-table, .overview-col-first{
        color: #333;
        border-color: #707070;
    }
    .overview-header{
        font-weight: bold;
        background-color: #f9f9f9;
    }
    .overview-col-first{
        float: left;
        width: 5em;
        border-right: 1px solid #f9f9f9;
        text-align: left;
    }
    .overview-row:nth-child(even){
        background-color: #fff;
    }
    .overview-row:nth-child(odd){
        background-color: #f9f9f9;
    }
    .overview-row{
        color: black;
        font-weight: normal;
    }
    .overview-row:hover{
        font-weight: bold;
    }
    .overview-cell{
        width: 40px;
        padding: 10px;
    }
    .overview-cell-booked{
        background-color: red !important;
    }
    .overview-table th:nth-child(7n + {{ weekdays_until_saturday }}),
    .overview-table td:nth-child(7n + {{ weekdays_until_saturday }}),
    .overview-table th:nth-child(7n + {{ weekdays_until_sunday }}),
    .overview-table td:nth-child(7n + {{ weekdays_until_sunday }}){
        background-color:rgba(61, 61, 61, 0.05);
    }
</style>

<body>
    <h1>Booking overview</h1>

      <!--First column, as its own table, to simplify horizontal scrolling-->
      <table class="overview-col-first">
        <!--Header-->
        <tr class="overview-header"><th class="overview-cell">Room</th></tr>

        <!--Content-->
        {% for key, value in busy_dates.items %}
            <tr class="overview-row"><td style="padding-left: 10px;">{{ key }}</td></tr>
        {% endfor %}
    </table>

    <!--Rest of table-->
    <div class=overview-table-wrapper style="float: left;">
    <table class="overview-table">
        <!--Header-->
            <tr class="overview-header">
                {% for date in header_row_dates %}
                    <th class="overview-cell">{{ date }}</th>
                {% endfor %}
            </tr>

        <!--Content-->
        {% for key, value in busy_dates.items %}
            <tr class="overview-row">
                {% for status in value %}
                    {% if status == None %}
                        <td style="text-align: center;">-</td>
                    {% else %}
                        <td class="overview-cell-booked"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    </div>   
</body>
{% endblock %}