{% extends 'booking/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logg</title>
</head>
<body>
    {% block content %}

        <form class="needs-validation" novalidate>
        <div class="container">
          <div class="row">
              <div class="col-xs-6">
                  <h4>Logg inn <span class="badge badge-secondary"></span></h4>
                  <div class="form-group">
                      <label for="exampleInputEmail1">Epostadresse</label>
                       <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Skriv epost">
                   </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Passord</label>
                       <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Passord">
                  </div>
              <button type="submit" class="btn btn-primary">Logg inn</button>
            
              </div>
              <div class="col-xs-6">
                  <h4>Registrer meg som ny bruker <span class="badge badge-secondary"></span></h4>
                  <div class="form-group">
                      <label for="exampleFornavn1">Fornavn</label>
                      <input type="fornavn" class="form-control" id="exampleFornavn1" placeholder="Fornavn">
                  </div>
                  <div class="form-group">
                      <label for="exampleEtternavn1">Etternavn</label>
                      <input type="etternavn" class="form-control" id="exampleEtternavn1" placeholder="Etternavn">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputEmail2">Epostadresse</label>
                      <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Skriv epost">
                  </div>
                  <div class="form-group">
                      <label for="exampleMobil1">Mobilnummer</label>
                      <input type="mobilnummer" class="form-control" id="exampleMobil1" placeholder="Mobilnummer">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Passord</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Passord">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPasswordRepeat1">Gjenta passord</label>
                      <input type="password" class="form-control" id="exampleInputPasswordRepeat1" placeholder="Passord">
                  </div>
                  <button type="submit" class="btn btn-primary">Registrer</button>
                  
              </div>
          </div>
      </div>
      </form>
    
      
      

    {% endblock%}

   
    
</body>
</html>