{% extends 'booking/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">Du har booket: </h3>
                </br>
            
            {% for booking in bookings %}
            <div class="row" style="padding: 0.7%;">
                <div class="col-sm">
                    Room: {{ booking.room }}
                </div>
                <div class="col-sm">
                    Fra: {{ booking.dateStart }}
                </div>
                <div class="col-sm">
                    Til: {{ booking.dateEnd }}
                </div>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>    

    {% endblock %}
    
</body>
</html>