{% extends 'booking/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link rel="stylesheet" href="{% static "css/base.css" %}">  

    <title>Rombestilling</title>

</head>
<body>
    {% load static %} 
    {% block header %}
      <div>
        <img class="d-block w-100" src="{% static "img/front.jpeg" %}" alt="Third slide" height="400vh" style="overflow: hidden; object-fit: cover;">
      </div>
      {% endblock %} 

      {% load crispy_forms_tags %}
    {% block content %}

    <script>
      function more(obj) {
          var content = document.getElementById("showMore");
          
          if (content.style.display == "none") {
              content.style.display = "";
              obj.innerHTML = "Hide advanced options";
          } else {
              content.style.display = "none";
              obj.innerHTML = "Show advanced options";
          }
      }
    </script>


    <div class="container">
      <br><br>
  <h1>Bestill rom</h1>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                  {{ form.startDate|as_crispy_field }}
                </div>
                <div class="col-6">
                  {{ form.endDate|as_crispy_field }}
                </div>
              </div>
              {{ form.minNumberOfBeds|as_crispy_field }}
              {{ form.maxPricePrNight|as_crispy_field }}

              <a href="#" onclick="more(this);">Show advanced options</a>
              <div id="showMore"  style="display: none;">
                
                {{ form.singleBeds|as_crispy_field }}

              <div class='form-group'>
                <div id='div_id_includedBreakfast' class="form-check">
                  <input type="checkbox" name="includedBreakfast" class="checkboxinput form-check-input" id="id_includedBreakfast" checked="True">
                  <label for="id_includedBreakfast" class="form-check-label">
                    Breakfast included
                  </label>
                </div>
              </div>
              <div class='form-group'>
                <div id='div_id_includedParking' class="form-check">
                  <input type="checkbox" name="includedParking" class="checkboxinput form-check-input" id="id_includedParking" checked="True">
                  <label for="id_includedParking" class="form-check-label">
                    Parking included
                  </label>
                </div>
              </div>
              <div class='form-group'>
                <div id='div_id_includedCancelling' class="form-check">
                  <input type="checkbox" name="includedCancelling" class="checkboxinput form-check-input" id="id_includedCancelling">
                  <label for="id_includedCancelling" class="form-check-label">
                    Free cancelling included
                  </label>
                </div>
              </div>
              <div class='form-group'>
                <div id='div_id_smokingAllowed' class="form-check">
                  <input type="checkbox" name="smokingAllowed" class="checkboxinput form-check-input" id="id_smokingAllowed">
                  <label for="id_smokingAllowed" class="form-check-label">
                    Smoking allowed
                  </label>
                </div>
              </div>
              </div>

            <br>
            <!--<input type="submit" value="Submit">  -->
            <button id="bestillingsknapp" type="submit" class="btn btn-dark">Se tilgjengelighet</button>    
        </form>
        <br><br>
    </div>
    {% endblock %}
    
</body>
</html>
