<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- CSS -->
   <link rel="stylesheet" href="../../static/css/stylesheet.css">
    <title>Hello, world!</title>
    halla
  </head>

  <body>      
     

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="home.html">Hjem</a></li>
                <li><a href="roombooking.html">Rombestilling</a></li>
                <li><a href="roomoverview.html">Romoversikt</a></li>
                <li><a href="about.html">Om oss</a></li>
                <li><a href="login.html">Logg inn</a></li>
            </ul>
        </div>
    </nav>

    <header class="jumbotron">
        <div class="container">
            <h1>Skikkelig Fancy hotell</h1>
            <p class="lead">hello world</p>
        </div>
    </header>

        <form>


  <form class="needs-validation" novalidate>
  <div class="container">
    <div class="row">
        <div class="col-xs-6">
            <h4>Logg inn <span class="badge badge-secondary"></span></h4>
            <div class="form-group">
                <label for="exampleInputEmail1">Epostadresse</label>
                 <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Skriv epost">
             </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Passord</label>
                 <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Passord">
            </div>
        <button type="submit" class="btn btn-primary">Logg inn</button>
        </div>
        <div class="col-xs-6">
            <h4>Logg inn <span class="badge badge-secondary"></span></h4>
            <div class="form-group">
                <label for="exampleFornavn1">Fornavn</label>
                <input type="fornavn" class="form-control" id="exampleFornavn1" placeholder="Fornavn">
            </div>
            <div class="form-group">
                <label for="exampleEtternavn1">Etternavn</label>
                <input type="etternavn" class="form-control" id="exampleEtternavn1" placeholder="Etternavn">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Epostadresse</label>
                <input type="email" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp" placeholder="Skriv epost">
            </div>
            <div class="form-group">
                <label for="exampleMobil1">Mobilnummer</label>
                <input type="mobilnummer" class="form-control" id="exampleMobil1" placeholder="Mobilnummer">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Passord</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Passord">
            </div>
            <div class="form-group">
                <label for="exampleInputPasswordRepeat1">Gjenta passord</label>
                <input type="password" class="form-control" id="exampleInputPasswordRepeat1" placeholder="Passord">
            </div>
            <button type="submit" class="btn btn-primary">Registrer</button>
        </div>
    </div>
</div>
</form>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>