<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- for responsive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- CSS -->
   <link rel="stylesheet" href="../../static/css/stylesheet.css">
    <title>Hello, world!</title>
    halla
  </head>

  <body>      
     

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="home.html">Hjem</a></li>
                <li><a href="roombooking.html">Rombestilling</a></li>
                <li><a href="roomoverview.html">Romoversikt</a></li>
                <li><a href="about.html">Om oss</a></li>
                <li><a href="login.html">Logg inn</a></li>
            </ul>
        </div>
    </nav>

    <header class="jumbotron">
        <div class="container">
            <h1>Skikkelig Fancy Hotell</h1>
            <p class="lead">hello world</p>
        </div>
    </header>
      
    
   

    <div class="container">
      <div class="row">
          <div class="col-xs-6">
            <div class="card mb-3">
              <img class="card-img-top" src="https://g.acdn.no/obscura/API/dynamic/r1/escenic/tr_1080_607_l_f/0000/archive/04722/hotellrom_4722942a.jpg?chk=35B80F" alt="Card image cap">
              <div class="card-body">
                <h3 class="card-title">Romtype1</h3>
                <p class="card-text">Antall sengeplasser</p>
                <p class="card-text">Generell informasjon om rommet</p>
                <button type="submit" class="btn btn-primary">Bestill Romtype1</button>
              
              </div>
            </div>
          </div>
        
          <div class="col-xs-6">
            
            </div>
          </div>
      </div>
  </div>


  <div class="container">
    <div class="row">
        <div class="col-xs-6">
          <div class="card mb-3">
            <img class="card-img-top" src="https://g.acdn.no/obscura/API/dynamic/r1/escenic/tr_1080_607_l_f/0000/archive/04722/hotellrom_4722942a.jpg?chk=35B80F" alt="Card image cap">
            <div class="card-body">
              <h3 class="card-title">Romtype2</h3>
              <p class="card-text">Antall sengeplasser</p>
             
              <p class="card-text">Generell informasjon om rommet</p>
              <button type="submit" class="btn btn-primary">Bestill Romtype2</button>
              
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          
          </div>
        </div>
    </div>
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>